img {
  width: 80px;
}

.admin {
  width: 100px;
}

.loupe {
  width: 20px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(176, 158, 117);
}

header {
  border: 4px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  margin-bottom: 20px;
}

main,
.filtre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recherche {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.resultat-de-recherche,
.a-la-une,
.container {
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
}

.a-la-une {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.a-la-une img {
  width: 300px;
}



.filtre {
  border-right: 2px solid black;
}